.management {
    display: none;
    position: relative;

    margin: 50px 45px 0 70px;
}

.title {
    margin-bottom: 20px;

    &__text {
        display: table;

        margin: 0 auto;
        padding: 10px;

        border: 1px solid #D1D1D1;
        border-radius: 4px;

        font-family: "Roboto-Regular";
        font-size: 18px;
        color: black;
    }
}

.distribution {
    display: flex;

    &__item {
        margin-right: 70px;
        
        &:first-child &_header {
            cursor: pointer;
        }

        &:last-child {
            margin-right: 0;
        }
        
        &_title, &_current {
            font-family: "Roboto-Regular";
            font-size: 15px;
        }
        
        &_title {
            margin: 0 0 25px 10px;
        }
        
        &_header {
            display: flex;
            align-items: center;
            position: relative;

            width: 230px;
            height: 50px;

            padding-left: 10px;
            border: 2px solid #D1D1D1;
            border-radius: 5px;
        }

        &_arrow {
            display: block;
            position: absolute;
            top: 50%;
            right: 10px;
            
            width: 11px;
            height: 18px;

            margin-top: -9px;

            &::before {
                content: '\f0d7';
                position: absolute;
    
                font-family: 'Font Awesome 5 Free','Font Awesome 5 Brands';
                font-size: 18px;
                font-weight: 600;
            }
        }
    }
}

.table {
    max-width: 1125px;
    width: 100%;

    margin-top: 70px;

    &__heading {
        display: flex;

        &_item {
            width: 10%;
            height: 70px;

            line-height: 22px;
            background: #E6E6E6;
            
            &:first-child {
                width: 12%;
            }

            &:nth-last-child(2) {
                width: 11%;
                font-size: 14px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &_wrap-item {
            width: 36.8%;
        }

        &_title {
            height: 30px;
            font-size: 15px;

            background: #E6E6E6;
        }

        &_inner {
            display: flex;
            
            .table__heading_item {
                width: 32%;
                height: 34px;

                margin-right: 6px;

                font-size: 15px;
            }
        }
    }

    &__heading_item, &__heading_title, &__content_item {
        display: flex;
        align-items: center;
        justify-content: center;

        margin: 0 6px 6px 0;
        border: 2px solid black;

        font-family: "Roboto-Regular";
        font-size: 16px;
        text-align: center;
    }

    &__content {
        display: flex;

        &_item {
            width: 9.74%;
            height: 29px;

            transition: background .03s ease-in-out;
            pointer-events: none;

            &:first-child {
                width: 11.7%;
                font-size: 14px;
                color: #0000EE;
            }

            &:nth-child(5), &:nth-child(6), &:nth-child(7) {
                width: 11.45%;
            }

            &:nth-last-child(2) {
                width: 10.73%;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &:hover &_item {
            background: #e2e2e2;
        }
    }
}

.window-manage {
    position: fixed;
    top: 100px;
    right: 0;
    transform: translateX(342px);

    width: 338px;
    padding: 25px;

    transition: transform .3s ease-in-out;
    box-shadow: 0 0 4px #b8b8b8;
    border-radius: 6px;
    background: #fff;

    &__manager-info {
        display: flex;
        align-items: center;

        padding-bottom: 25px;
        border-bottom: 2px solid #F3F3F3;
    }

    &__manager-image {
        width: 100px;
        height: 100px;

        border-radius: 50%;
        background: #C4C4C4;
    }

    &__wrapper-info {
        height: fit-content;

        margin-left: 20px;
    }
    
    &__manager-name, &__manager-edit {
        font-family: "Roboto-Bold";
        font-size: 15px;
    }

    &__manager-name {
        margin-bottom: 20px;
    }

    &__manager-edit {
        background: inherit;
        cursor: pointer;
    }

    &__management {
        display: flex;

        margin-top: 30px;
        padding: 4px;

        border-radius: 7px;
        background: #F4F4F4;

        &_item {
            padding: 7px 15px;
            border-radius: 5px;

            font-family: "Roboto-Bold";
            font-size: 15px;
            color: #787878;
            cursor: pointer;
        }
    }

    .isActiveItem {
        color: #696969;
        background: white;
    }

    &__appointment {
        margin-top: 40px;

        &_text {
            display: block;

            font-family: "Roboto-Regular";
            font-size: 13px;
            color: #0062FF;
        }

        label {
            display: block;

            padding: 7px;
            border: 2px solid #ECECEC;
            border-radius: 6px;
        }
        
        &_input {
            width: 100%;

            font-family: "Roboto-Regular";
            caret-color: #0062FF;
        }

        &_submit {
            width: 100%;
            height: 50px;

            margin-top: 60px;
            border-radius: 6px;

            font-family: "Roboto-Regular";
            font-size: 15px;
            color: white;
            cursor: pointer;
            transition: background .1s ease-in-out;
            background: #0062FF;

            @media (min-width: 1100px) {
                &:hover {
                    background: #1b6ff5;
                }
            }
        }
    }
}