@font-face {
    font-family: "Roboto-Regular";
    font-display: swap;
    src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}

@font-face {
    font-family: "Roboto-Bold";
    font-display: swap;
    src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}